@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ado.Net Welcome</h1>
    <form method="POST" asp-action="AddData" class="mb-3">
        <button type="submit" class="btn btn-primary">Add Not Parameters Data</button>
    </form>
    <form method="POST" asp-action="AddDataSecure">
        <div>
            <input type="text" name="FirstName" placeholder="FirstName" class="mb-2" required />
        </div>
        <div>
            <input type="text" name="LastName" placeholder="LastName" class="mb-2" required />
        </div>
        <div>
            <input type="text" name="Age" placeholder="Age" class="mb-2" required />
        </div>
        <button type="submit" class="btn btn-primary">Add Parameters Data</button>
    </form>
</div>
